<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>General Tools</title>
     <link rel="stylesheet" href="../static/styles.css">
     <script src="../static/main.mjs" defer></script>
</head>

<body>
     <nav class="navigation">
          <a href="../index.html" class="home">HOME</a>
          <h2>General Tools</h2>
          <a href="https://www.github.com/nasrlol" target="_blank">GITHUB</a>
     </nav>

     <section class="content">
          <h1>General Tools</h1>
     </section>

     <footer>
          <p>Created by <a href="https://www.github.com/nasrlol" target="_blank">nsrddyn</a>. All rights reserved &copy;
               2024.</p>
     </footer>
</body>

</html>