<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>CONSOLE</title>
     <link rel="stylesheet" href="static/styles.css">
     <script src="static/main.mjs" defer></script>
</head>

<body>
     <nav class="navigation">
          <a href="index.html" class="home">HOME</a>
          <h2>I2C MODES</h2>
          <a href="https://www.github.com/nasrlol" target="_blank">GITHUB</a>
     </nav>

     <section class="controls">
          <a href="page/overview.html" class="resources">Resources</a>
          <a href="page/notes.html" class="speech_trans">Speech Transcriber</a>
          <a href="page/recourses.html" class="notes">Display a Message</a>
          <a href="page/speech.html" class="general">General Tools</a>
     </section>
     <section>
        <p>This is the main control center for the I2C deivce. You can find
        the main code and information about the project under my <a href="https://github.com/nasrlol">GITHUB</a></p>

     </section>

     <footer>
          <p>Created by <a href="https://www.github.com/nasrlol" target="_blank">nsrddyn</a>. All rights reserved &copy;
               2024.</p>
     </footer>
</body>

</html>
